body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #e5e5f7; 
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.text-section, .image-section {
    flex: 1;
    border-radius: 12px; 
    overflow: hidden; 
    padding: 30px;
}

.text-section {
    border: 2px solid #654296; 
    background-color: #fff;
    padding: 30px; 
    font-size: 1.2em; 
}

.image-section img {
    width: 100%;
    height: 500px; 
    object-fit: cover; 
    border-radius: 8px; 
    margin: 0; 
}
