{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Welcome to Surf or Sleep!</title>
</head>
<body>

    <div class="section" id="home">
        <h1 class="page-title">Welcome to Surf or Sleep,</h1>

        <p class="page-slogan">Helping you make one less decision each day</p>

        <!-- "Learn More" button linking to the /about route -->
        <a href="{{ url_for('views.about') }}" class="learn-more-button">Learn More</a>
    </div>
</body>
</html>
{% endblock %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
