{% extends "base.html" %} {% block title %}Sign Up{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/>

    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="type" class="form-control" id="firstName" name="firstName" placeholder="Enter first name"/>
        
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password"/>
        
    </div>
    <div class="form-group">
        <label for="password2">Password (Confirm)</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password"/>
    </div>
    <h3 align="center">Input Condition Preferences</h3>
    <div class="form-group">
        <label for="min_wave_height">Minimum Wave Height</label>
        <input type="text" class="form-control" id="min_wave_height" name="min_wave_height" placeholder="Enter minimum wave height"/>
    </div>
    <div class="form-group">
        <label for="max_wave_height">Maximum Wave Height</label>
        <input type="text" class="form-control" id="max_wave_height" name="max_wave_height" placeholder="Enter maximum wave height"/>
    </div>
    <div class="form-group">
        <label for="max_wind_mph">Max Wind MPH</label>
        <input type="text" class="form-control" id="max_wind_mph" name="max_wind_mph" placeholder="Enter max wind MPH"/>
    </div>
    <div class="form-group">
        <label for="min_water_temp">Minimum Water Temperature</label>
        <input type="text" class="form-control" id="min_water_temp" name="min_water_temp" placeholder="Enter minimum water temperature"/>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}